@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&family=Varela+Round&display=swap');


*{
    margin: 0;
    padding: 0;
}

body{
    background-color: antiquewhite;
}

nav{
font-family: 'Ubuntu', sans-serif;

}   


nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: white;
}

nav ul li{
    padding: 0 12px;
}

.brand{
    display: flex;
    align-items:center ;
    font-weight: bolder;
    font-size: 1.3rem;
}

.brand img{
    width: 44px;
    padding: 0 8px;

}

.container{


    min-height: 72vh;
    background-color: black;
    color: white;
    font-family: 'Varela Round', sans-serif;
    display: flex;
    margin: 23px auto;
    width: 70%;
    background-image: url('bg.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 12px;
    padding: 35px;
}


.songItemContainer{
    margin-top: 70px;
}

.bottom{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: sticky;
    height: 130px;
    background-color: black;
    color: white;
    bottom: 0;
}


.icons{
    margin-top: 14px;
}

.icons i{
    cursor: pointer;
}

#myProgressBar{
    width: 85vw;
    cursor: pointer;
}

.songItem{
    display: flex;
    height: 50px;
    width: 80%;
    background-color: white;
    color: black;
    align-items: center;
    justify-content: space-between;
    border-radius: 34px;
    margin: 10px 0px    ;
}

.songItem img{
    width: 30px;
    margin: 0 23px;
    border-radius: 20px;
}

.songlistplay{
    margin: 0px 10px;
    padding: 0px 10px;
}


.timestamp{
    margin: 0 23px;

}

.fa-play-circle:before {
    cursor: pointer;
}

.songInfo{
    position: absolute; 
    left: 7vw;
    font-family: 'Varela Round', sans-serif;
}

.songInfo img{
    margin: 0 5px;
    padding: 0 5px;
    opacity: 0;
    transition : opacity 0.4s ease-in;
}
